<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="row">
      　<div class="col-md-6 col-md-offset-3">
      　 <div class="topic-index-single">
          <h2 class="topic-author">
            <%= topic.user.name %>
          </h2>
          <%= image_tag topic.image.url %>
          <!--<いいね機能：ハートマークの表示、非表示の代わりに、適用されるCSSが切り替わるようにする>--
          <% if !topic.favorite_users.include?(current_user) %>
            <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
                 <%= image_tag 'icons/heart-black.png', class: 'topic-index-icon-on' %>
            <% end %>     
          <% else %>
             <%= link_to("/favorites#{@topic.id}/destroy",  method: :post do %>
                 <%= image_tag 'icons/heart-black.png', class: 'topic-index-icon-off' %>
             <% end %>   
            
            <%= image_tag 'icons/comment.png', class: 'topic-index-comment-icon' %>
           <% end %>
          <p class="topic-text">
            <%= topic.description %>
          </p>
        </div>
      </div>　
     </div>
   <% end %>   　
  </div>
</div>